* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    font-family: 'Roboto', sans-serif;
}

#content {
    display: grid;
    grid-template-columns: 20vw 75vw;
    grid-template-rows: 20vh 70vh;
    grid-template-areas: 
    "header header"
    "lists list-contents";

    margin: 25px;
}

p {
    font-size: 1.5rem;
}

.create {
    display: flex;

    font-size: 5rem;
    border-radius: 50%;
    background-color: grey;
    text-align: center;
    width: 75px;
    height: 75px;

    align-items: center;
    justify-content: center;
}


/*  */

.header, .lists, .list-contents {
    border: 2px black solid;
    padding: 25px;
}

.header {
    grid-area: header;
}

.lists {
    grid-area: lists;
}

.lists div {
    margin-bottom: 20px;
}

.list-contents {
    grid-area: list-contents;
    overflow: auto;
}

.todo {
    display: flex;
    justify-content: space-between;
    border: 1px black solid;
    padding: 5px;
    margin-bottom: 20px;
}

.todo-2 {
    width: 250px;
    display: flex;
    justify-content: space-around;
}